global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'blackbox'
    metrics_path: /probe
    params:
      module: [icmp]  
    static_configs:
      - targets:
          - 192.168.1.10   # прописываем ip тутъ!!!
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['192.168.1.10:9100']  # хосты node_exporter
